<div class="content">
	<div class="content-wrapper">
		<div class="post">
			<img src="images/winter-1.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>02<br></span>декабря<br>2012</li>
						<li class="info-day">Пт<br>11:25</li>
						<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
						<li class="info-temperature">-8 C<sup>o</sup></li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Вспомнил, как играл в снежки в детстве. Есть в этом что-то легкое и непосрественное</p>
				</div>
			</div>				
		</div>
		<div class="post">
			<img src="/images/winter-3.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>02<br></span>декабря<br>2012</li>
						<li class="info-day">Вс<br>16:55</li>
						<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
						<li class="info-temperature">-8 C<sup>o</sup></li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Еще недавно проходил здесь, было много листьев. Теперь решетки присыпаны снегом. Так было и так будет.</p>
				</div>
			</div>	
		</div>
		<div class="post">
			<img src="/images/summer-1.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>22<br></span>августа<br>2012</li>
						<li class="info-day">Вс<br>13:01</li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Лычаковское кладбище. Нет туристов, разговорчивых гидов. Тишина.</p>
				</div>
			</div>					
		</div>
	</div>

	<div class="content-wrapper">
		<div class="post">
			<img src="/images/summer-2.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>24<br></span>августа<br>2012</li>
						<li class="info-day">Ср<br>13:09</li
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Ужгород удивил своей температурой. Раскаленный воздух прогрел легкие. Ватные ноги еле шли. </p>
				</div>
			</div>			
		</div>
		<div class="post">
			<img src="/images/summer-4.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>25<br></span>августа<br>2013</li>
						<li class="info-day">Чт<br>15:26</li>
						<img src="/images/cloud-pic.png" class="info-current-weather" />
						<li class="info-temperature">+29 C<sup>o</sup></li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Довольная:) Только полита прохладной водичкой!</p>
				</div>
			</div>
		</div>
		<div class="post">
			<img src="/images/autumn-1.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>23<br></span>октября<br>2012</li>
						<li class="info-day">Сб<br>13:56</li>
						<img src="/images/cloud-pic.png" class="info-current-weather" />
						<li class="info-temperature">+15 C<sup>o</sup></li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Шикарная осенняя вылазка в Феофанию. </p>
				</div>
			</div>				
		</div>
	</div>
	<div class="content-wrapper">
		<div class="post blank">
			<!-- <img src="/images/blank.png" alt="My impression" /> -->
			<div class="text-block">
				<p class="text">«Свеча ничего не теряет, если от ее пламени зажглась другая свеча»...</p>
			</div>
			<div class="post-wrap text">
				<div class="note">
					<ul class="frame-text">
						<li class="date-text"><span>11<br></span>ноября<br>2012</p>
						<li class="day-text">Пт<br>22:23</p>
					</ul>
				</div>
			</div>	
		</div>
		<div class="post">
			<img src="/images/autumn-2.jpg" alt="My impression" />
			<div class="post-wrap">
				<div class="post-wrap-info">
					<ul>
						<li class="info-date"><span>10<br></span>ноября<br>2012</li>
						<li class="info-day">Вс<br>23:11</li>
						<img src="/images/cloud-pic.png" class="info-current-weather" />
						<li class="info-temperature">+2 C<sup>o</sup></li>
					</ul>
				</div>
				<div class="post-wrap-title">
					<p>Тут должен быть текст про осень.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$(".bottom-menu-link").hover(
			function(event) {$(this).addClass("active")},
			function (event) {$(this).removeClass("active")}

		)
	});
</script>

