<div class="content">
			<div class="content-wrapper">
				<div class="post">
					<img src="images/autumn-1.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>09<br></span>октября<br>2012</li>
								<li class="info-day">Сб<br>14:15</li>
								<img src="/images/cloud-autumn-pic.png" class="info-current-weather" />
								<li class="info-temperature">+10 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Красивая картинная осень в Феофании.</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/autumn-2.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>10<br></span>октября<br>2012</li>
								<li class="info-day">Вс<br>12:45</li>
								<img src="/images/cloud-autumn-pic.png" class="info-current-weather" />
								<li class="info-temperature">+9 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Тишина... Наедине со своими мыслями.</p>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/autumn-3.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>17<br></span>октября<br>2012</li>
								<li class="info-day">Вс<br>15:55</li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Каждый упавший лист напоминает мне о быстротечности времени. Секунды, минуты, часы - пролетают слишком быстро. Я не могу их остановить.</p>
						</div>
					</div>					
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post">
					<img src="/images/autumn-4.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>18<br></span>октября<br>2012</li>
								<li class="info-day">Пн<br>16:48</li
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Палитра осени. Совсем скоро снег укроет землю и скроет все яркие краски. </p>
						</div>
					</div>			
				</div>
				<div class="post">
					<img src="/images/autumn-5.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>21<br></span>октября<br>2012</li>
								<li class="info-day">Чт<br>16:50</li>
								<img src="/images/cloud-autumn-pic.png" class="info-current-weather" />
								<li class="info-temperature">+12 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Кто-то делает вид, что занят. На самом деле - это не более, чем очередная пустая болтовня:)</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/autumn-6.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>23<br></span>октября<br>2012</li>
								<li class="info-day">Сб<br>13:56</li>
								<img src="/images/cloud-autumn-pic.png" class="info-current-weather" />
								<li class="info-temperature">+15 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Шикарная осенняя вылазка в Феофанию. </p>
						</div>
					</div>				
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post blank">
					<!-- <img src="/images/blank.png" alt="My impression" /> -->
					<div class="text-block">
						<p class="text">«Свеча ничего не теряет, если от ее пламени зажглась другая свеча»...</p>
					</div>
					<div class="post-wrap text">
						<div class="note">
							<ul class="frame-text">
								<li class="date-text"><span>11<br></span>ноября<br>2012</p>
								<li class="day-text">Пт<br>22:23</p>
							</ul>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/autumn-7.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>10<br></span>ноября<br>2012</li>
								<li class="info-day">Вс<br>23:11</li>
								<img src="/images/cloud-autumn-pic.png" class="info-current-weather" />
								<li class="info-temperature">+2 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Тут должен быть текст про осень.</p>
						</div>
					</div>
				</div>
			</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$(".bottom-menu-link").hover(
			function(event) {$(this).addClass("active")},
			function (event) {$(this).removeClass("active")}
		)
	});
</script>

