<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to Impressbook!</title>
	<link rel="stylesheet/less" href="/stylesheets/register.less" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
	<script src="/javascript/less-1.3.0.min.js"></script>
	<script src="/javascript/jquery.min.js"></script>	
</head>
<body>
	<header></header>
	<div id="wrapper">
		<div class="wrapper-center">
			<div class="center-upper">
				<section class="upper-menu">
					<ul>
						<li>2006</li>
						<li>2007</li>
						<li>2008</li>
						<li>2009</li>
						<li>2010</li>
						<li>2011</li>
						<li>2012</li>
						<li>2013</li>
						<li>2014</li>
					</ul>
				</section>
				<section class="upper-logo">
					<img src="/images/book-main.png" alt="Welcome to Impressbook!" title="Welcome to Impressbook!" />
				</section>
				<section class="upper-title">
					<p>Impressbook - виртуальная коллекция впечатлений, которая сохранит для вас все впечатления и моменты из жизни</p>
				</section>
			</div>
			<div class="center-form">
				<form name="registration">
					<input type="email" placeholder="Введите ваш email" id="email" class="form-email" required>
					<input type="submit" value="Получить приглашение" class="form-invite">
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="center-footer">
			<div class="footer-left">
				<img src="/images/book-footer.png" alt="Save your impressions in Impressbook!" />
			</div>
			<div class="footer-right">
				<div class="footer-right_devices">
					<img src="/images/devices.png" alt="Available devices for Impressbook" />
				</div>
				<div class="footer-right_links">
					<nav>
						<ul>
							<li><a href="/all" target="_blank">О проекте</a></li>
							<li><a href="#" target="_blank">Условия</a></li>
							<li><a href="#" target="_blank">Команда</a></li>
						</ul>
					</nav>
					<div class="copywrite">
						<p>Impress.book</p>
						<p>© 2013</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>