<div class="content">
			<div class="content-wrapper">
				<div class="post">
					<img src="images/winter-1.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>22<br></span>марта<br>2013</li>
								<li class="info-day">Ср<br>13:45</li>
								<img src="/images/cloud-spring-pic.png" class="info-current-weather" />
								<li class="info-temperature">-9 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Кое-кто дурачится на скамейке, которую полностью замело. Перед театром Франко можно двигаться только по-пластунски.</p>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/winter-2.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>25<br></span>марта<br>2013</li>
								<li class="info-day">Cб<br>12:11</li>
								<img src="/images/cloud-spring-pic.png" class="info-current-weather" />
								<li class="info-temperature">-15 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Я не помню такого снегопада. Стихия полностью завладела городом и мы подчинялись ее законам.</p>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/winter-3.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>26<br></span>марта<br>2013</li>
								<li class="info-day">Вс<br>16:55</li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Один из тех вечеров, когда никого не хочу видеть. Silence only...</p>
						</div>
					</div>					
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post">
					<img src="/images/winter-4.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul class="frame">
								<li class="info-date"><span>27<br></span>марта<br>2013</li>
								<li class="info-day">Пн<br>16:48</li
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Снег. Холод. Отсутствие глупых людей. Отсутствие людей. Бесконечность мыслей...</p>
						</div>
					</div>			
				</div>
				<div class="post">
					<img src="/images/winter-5.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>27<br></span>марта<br>2013</li>
								<li class="info-day">Чт<br>16:50</li>
								<img src="/images/cloud-spring-pic.png" class="info-current-weather" />
								<li class="info-temperature">-10 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>У всего есть причина и следствие. И у этой заснеженой дороги тоже.</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/winter-6.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>02<br></span>апреля<br>2013</li>
								<li class="info-day">Сб<br>11:56</li>
								<img src="/images/cloud-spring-pic.png" class="info-current-weather" />
								<li class="info-temperature">-20 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Завтра еду кататься на лыжах. Так давно мечтал об этом!</p>
						</div>
					</div>				
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post blank">
					<!-- <img src="/images/blank.png" alt="My impression" /> -->
					<div class="text-block">
						<p class="text">Бессмертие сегодня — это мета-стартап, точка пересечения новых технологий и самых смелых умов, которые проходят первый раунд венчурных и интеллектуальных инвестиций</p>
						<p class="text">Наноглина уже восстанавливает кости; биохакинг и генная инженерия развиваются так же быстро, как вычислительные мощности; экзоскелеты помогают обездвиженным обрести тело; квантовые компьютеры встают на службу искусственного интеллекта; на 3d принтерах уже печатают части тела; средняя продолжительность жизни растет, а две трети населения преклонного возраста доживают до своих лет именно сейчас. </p>
					</div>
					<div class="post-wrap text">
						<div class="note">
							<ul class="frame-text">
								<li class="date-text"><span>08<br></span>апреля<br>2013</p>
								<li class="day-text">Пт<br>22:23</p>
							</ul>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/winter-7.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>10<br></span>апреля<br>2013</li>
								<li class="info-day">Вс<br>13:11</li>
								<img src="/images/cloud-spring-pic.png" class="info-current-weather" />
								<li class="info-temperature">-9 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Зачем я знаю, то что знаю?</p>
						</div>
					</div>
				</div>
			</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$(".bottom-menu-link").hover(
			function(event) {$(this).addClass("active")},
			function (event) {$(this).removeClass("active")}
		)
	});
</script>

