<div class="content">
			<div class="content-wrapper">
				<div class="post">
					<img src="images/summer-1.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>23<br></span>августа<br>2012</li>
								<li class="info-day">Пн<br>15:26</li>
								<img src="/images/cloud-pic.png" class="info-current-weather" />
								<li class="info-temperature">+38 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Лычаковское кладбище поразило тишиной и спокойствием. Здесь спят души.</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/summer-2.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>24<br></span>августа<br>2012</li>
								<li class="info-day">Cр<br>13:09</li>
								<img src="/images/cloud-pic.png" class="info-current-weather" />
								<li class="info-temperature">+40 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Ужгород удивил своей температурой. Раскаленный воздух прогрел легкие. Ватные ноги еле шли. </p>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/summer-3.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>24<br></span>августа<br>2012</li>
								<li class="info-day">Ср<br>13:30</li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Случайно забрели в крепость, все благодаря совету мимо проходившего ужгородца.</p>
						</div>
					</div>					
				</div>	
			</div>
			<div class="content-wrapper">
				<div class="post">
					<img src="/images/summer-4.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>25<br></span>августа<br>2012</li>
								<li class="info-day">Чт<br>15:26</li
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Довольная:) Только полита прохладной водичкой!</p>
						</div>
					</div>			
				</div>
				<div class="post">
					<img src="/images/summer-5.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>25<br></span>августа<br>2012</li>
								<li class="info-day">Чт<br>17:02</li>
								<img src="/images/cloud-pic.png" class="info-current-weather" />
								<li class="info-temperature">+33 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Это был вкуснейший мохито и чудесный вид на набережную Ужгорода.</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/summer-6.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>27<br></span>августа<br>2012</li>
								<li class="info-day">Сб<br>21:27</li>
								<img src="/images/cloud-pic.png" class="info-current-weather" />
								<li class="info-temperature">+22 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Шеф-повар "Якитории" был на высоте. Особенно с бали-маки.</p>
						</div>
					</div>				
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post blank">
					<!-- <img src="/images/blank.png" alt="My impression" /> -->
					<div class="text-block">
						<p class="text">весной к медведице медведя<br>любовь безудержно влечет<br>перед берлогой на поляне<br>бобрами выложил люблю</p>
						<p class="text">вся в ожидании оксана<br>упала голой на кровать<br>и обалдели от такого<br>и муж и мебельный салон</p>
						<p class="text">домой уже я еду мама<br>мне надо что нибудь купить<br>купи себе квартиру сволочь<br>живи отдельно от меня</p>
					</div>
					<div class="post-wrap text">
						<div class="note">
							<ul class="frame-text">
								<li class="date-text"><span>11<br></span>сентября<br>2012</p>
								<li class="day-text">Пт<br>14:56</p>
							</ul>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/summer-9.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>12<br></span>сентября<br>2012</li>
								<li class="info-day">Сб<br>13:29</li>
								<img src="/images/cloud-pic.png" class="info-current-weather" />
								<li class="info-temperature">+20 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Перестановка в Бинотеле. Исторический момент: укладывают ковролин.</p>
						</div>
					</div>
				</div>
			</div>
</div>
	
<script type="text/javascript">
	$(document).ready(function () {
		$(".bottom-menu-link").hover(
			function(event) {$(this).addClass("active")},
			function (event) {$(this).removeClass("active")}
		)
	});
</script>	

