<div class="content">
			<div class="content-wrapper">
				<div class="post">
					<img src="images/winter-1.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>02<br></span>декабря<br>2012</li>
								<li class="info-day">Пт<br>11:25</li>
								<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
								<li class="info-temperature">-8 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Вспомнил, как играл в снежки в детстве. Есть в этом что-то легкое и непосрественное</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/winter-2.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>03<br></span>декабря<br>2012</li>
								<li class="info-day">Сб<br>11:45</li>
								<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
								<li class="info-temperature">-9 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>На улицах практически никого нет. Идеальный город. Идеальная погода</p>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/winter-3.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>09<br></span>декабря<br>2012</li>
								<li class="info-day">Вс<br>16:55</li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Еще недавно проходил здесь, было много листьев. Теперь решетки присыпаны снегом. Так было и так будет.</p>
						</div>
					</div>					
				</div>
			</div>
			<div class="content-wrapper">
				<div class="post">
					<img src="/images/winter-4.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>12<br></span>декабря<br>2012</li>
								<li class="info-day">Чт<br>17:01</li
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Хочу быть роботом...</p>
						</div>
					</div>			
				</div>
				<div class="post">
					<img src="/images/winter-5.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul>
								<li class="info-date"><span>13<br></span>декабря<br>2012</li>
								<li class="info-day">Пт<br>16:56</li>
								<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
								<li class="info-temperature">-15 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Роботам не нужна одежда, еда, сон. Они не болеют, не мерзнут и не устают. Им нужна только энергия.</p>
						</div>
					</div>
				</div>
				<div class="post">
					<img src="/images/winter-6.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrapinfo">
							<ul>
								<li class="info-date"><span>18<br></span>декабря<br>2012</li>
								<li class="info-day">Сб<br>14:56</li>
								<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
								<li class="info-temperature">-12 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Ем вкусный пирожок. С творогом и изюмом. Хохма, а не воспоминание :)</p>
						</div>
					</div>				
				</div>	
			</div>
			<div class="content-wrapper">
				<div class="post blank">
					<!-- <img src="/images/blank.png" alt="My impression" /> -->
					<div class="text-block">
						<p class="text">И мне кажется, что это просто замечательно — этот ответ «я не знаю». В нашей культуре не знать — значит провиниться перед обществом. Не так ли?</br>Люди постоянно притворяются, что они знают о куче всего, в действительности не имея об этом ни малейшего понятия. Потому что худшее, что можно сделать в европейской традиции — это показать, что ты не в курсе, что у тебя нет своего мнения.</p>
					</div>
					<div class="post-wrap text">
						<div class="note">
							<ul class="frame-text">
								<li class="date-text"><span>21<br></span>декабря<br>2012</p>
								<li class="day-text">Пт<br>23:23</p>
							</ul>
						</div>
					</div>	
				</div>
				<div class="post">
					<img src="/images/winter-7.jpg" alt="My impression" />
					<div class="post-wrap">
						<div class="post-wrap-info">
							<ul class="frame">
								<li class="info-date"><span>29<br></span>декабря<br>2012</li>
								<li class="info-day">Вт<br>17:11</li>
								<img src="/images/cloud-winter-pic.png" class="info-current-weather" />
								<li class="info-temperature">-20 C<sup>o</sup></li>
							</ul>
						</div>
						<div class="post-wrap-title">
							<p>Как бы изобрести искусственный интеллект?</p>
						</div>
					</div>
				</div>
			</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$(".bottom-menu-link").hover(
			function(event) {$(this).addClass("active")},
			function (event) {$(this).removeClass("active")}
		)
	});
</script>

